<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Mulberry Symbol Set - Categories</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body>
    <style>
      .flex-area {
        position: fixed;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
      }

      .sidebar {
        overflow: auto;
      }

      .main-content {
        overflow: auto;
        width: 80%;
        padding-left: 8px;
      }

      @media (max-width: 600px) {
        .sidebar {
          display: none;
        }
      }
    </style>
    <div class="flex-area">
      <div class="sidebar">
        <ul>
          {{#each categories}}
          <li>
            <a href="#{{ this.anchor }}">{{ @key }}</a>
          </li>
          {{/each}}
        </ul>
      </div>
      <div class="main-content">
        <a href="/">Back to Home</a>
        {{> symbols}}
      </div>
    </div>
  </body>
</html>
