---
---

@import "{{ site.theme }}";

body, 
.page-header,
.btn {
  background-color: rgb(234, 232, 255);
  color: rgb(112, 48, 160);
  background-image: url(assets/background.png);
}

.page-header {
  background-image: url("../background.png");
  background-repeat: no-repeat;
  background-size: 64rem;
  background-position: center center;
}

section#links {
  text-align: center;
}